

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 60px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

 

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

 
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .row {
  display: flex;
}

.column {
  flex: 50%;
}

.menu {text-align:justify;}
.menu:after { content:' '; display:inline-block; width: 100%; height: 0 }
.menu > span {display:inline-block} 

.search-results {
        height: 10rem;
        width: 100%;
        overflow: scroll;
      }

.agm-map{
  height: 200px;
}


.example-viewport {
  height: 200px;
  width: 950px;
  border: 1px solid black;
}

.example-viewport2 {
  height: 100px;
  width:  300px;
  border: 1px solid black;
}

.example-dt {
  height: 30px;
  font-weight: bold;
  padding-bottom: 5px ;
}

.example-dd {
  height: 30px;
}




</style>


<div class="content" role="main">



<div>

  <cdk-virtual-scroll-viewport class="example-viewport2" itemSize="2">
    <dl class="example-dl">
      <ng-container *cdkVirtualFor="let get of getall">
        <dt  class="example-dt">{{get.name}}</dt>        
      </ng-container>
    </dl>
  </cdk-virtual-scroll-viewport>


  <mat-form-field class="example-full-width">
    <mat-label>buscar</mat-label>
    <input id="datavalue" matInput placeholder="word" value="look for" />
  </mat-form-field>
  <button mat-raised-button color="primary" style= "margin-left:33px ;"(click)="get()">get</button>
</div>
<div *ngIf="condition">
  <div> name: {{ getvalue.name }}</div>
  <div> address {{ getvalue.address }}</div>
  <div> phone {{ getvalue.phone }}</div>
  <div> website {{ getvalue.website }}</div>
</div> 
<div>
  <button mat-raised-button color="primary"  (click)="menuUpdate()" *ngIf="condition"  >update</button>
  <button mat-raised-button color="primary"  (click)="goToPage('')" >back</button>
</div>
<div *ngIf="menu" >

    <mat-form-field >
    <mat-label>services</mat-label>
      <mat-select  [(value)]="service"  >
      <mat-option value="name">name</mat-option>
      <mat-option value="address">address</mat-option>
      <mat-option value="phone">phone</mat-option>
      <mat-option value="website">website</mat-option>
    </mat-select>
  </mat-form-field>
  <div>{{service}}</div> 

  <mat-form-field class="example-full-width">
    <mat-label>new value</mat-label>
    <input (keyup)="change($event)"  matInput placeholder="new value" value="-">
  </mat-form-field>
  
  <button mat-raised-button color="primary"  (click)="update(service,getvalue.name,getvalue.address,getvalue.phone,getvalue.website)"  >save</button>
  
</div>


</div>